/**
 * Author: Mudassir Ahmed
 * Script location: /home/mudassir/.config/gtk-3.0
 * Created on: 05/04/2019
 * Reference: https://developer.gnome.org/gtk3/stable/GtkScrollbar.html
 *            https://lazka.github.io/pgi-docs/Gtk-3.0/classes/Scrollbar.html
 */

terminal-window,
terminal-window box,
terminal-window notebook,
terminal-window stack,
terminal-window terminal-screen-container,
terminal-window box,
terminal-window vte-terminal {
    border-image-width: 0;
    border: none;
    border-color: transparent;
}

/* Quick fix for black border radius fill 
   If that doesn't fix it, I think its something to do with window
   being filled with black as default from the window manager.
   Possible fix in next gnome update
   @see https://gitlab.gnome.org/GNOME/gtk/-/commit/2ce63a86ba689aa41eb47409c889c469497478b0
   @see https://gitlab.gnome.org/GNOME/gtk/issues/550
*/
* {
    border-radius: 0;
}

scrollbar
{
    -GtkScrollbar-has-backward-stepper: false;
    -GtkScrollbar-has-forward-stepper: false;
    /* background-color: #21252d; */
    background-color: inherit;
}

scrollbar button
{
    background-color: green;
}

scrollbar,
scrollbar slider
{
    min-width: 6px;
    min-height: 10px;
    border: none;
    transition: 0.2s ease;
    border-radius: 3px;
}

scrollbar:hover slider:active {
    min-width: 10px;
    border-radius: 5px;
}

scrollbar slider
{
    background-color: rgba(0, 0, 0, 0.4);
}

scrollbar slider:hover
{
    background-color: rgba(0, 0, 0, 0.5);
}

scrollbar slider:active
{
    background-color: rgba(0, 0, 0, 0.55);
}
